#maincontent {
    margin-top: 50px;
    font-family: Alike Angular, Trebuchet MS;
    color: #ebe6f7;
    background-color: #071540;
    border-radius: 25px;
    height: 800px;
    padding-left: 50px;
}

h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    color: #F28705;
}

h4 {
    color: #F28705;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
}

#playernamesform {
    font-family: Alike Angular;
}

.card {
    height: 80px;
}

#TopCard {
    height: 110px;
}

#Drawpile {
    height: 110px;
    align-self: flex-end;
}

#Player2_name_and_cards {
    margin-top: 50px;
}

.card:hover {
    transform: scale(1.2);
    cursor: grab;
}

.Drawpile:hover{
    transform: scale(1.3);
    cursor: grab;
}